@page
@model IdentityServer.Pages.Account.Manage.SecurityModel

<div class="d-flex border-bottom">
    <div class="brand-color-dark fs-2">
        Account Security
    </div>
</div>

<div class="row pb-5">
    <div class="col-12 col-md-8 offset-md-2">

        <div class="card mb-2 rounded-4 mt-4">
            <div class="card-body p-3">
                <h2 class="fw-medium fs-5 text-muted mb-1">
                    <i class="fa-solid fa-user-shield fa-fw"></i>
                    Connections to Apps &amp; Services
                </h2>
                <p class="text-body-secondary">
                    Keep track of your connections to third-party apps &amp; services.
                </p>
                <div class="card bg-white rounded-4">
                    <div class="card-body">

                        @if (!Model.View.Grants.Any())
                        {
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="alert alert-info">
                                        You have not given access to any applications
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="d-flex flex-column gap-2">
                            @foreach (var grant in Model.View.Grants)
                            {
                                grant.Description ??= "Unknown";
                                string modalId = $"modal_{grant.ClientId}";

                                <a href="#" role="button" class="text-decoration-none text-muted" data-bs-toggle="modal" data-bs-target="#@modalId">
                                    <div class="d-flex justify-content-between align-items-center bg-light p-2 rounded-4">
                                        <div class="hstack">

                                            @if (grant.ClientLogoUrl != null)
                                            {
                                                <img src="@grant.ClientLogoUrl">
                                            }
                                            else
                                            {
                                                <img src="~/appicon.png" style="max-width: 48px; max-height: 48px;" />
                                            }

                                            <span class="fw-medium flex-shrink-0 ms-1">
                                                <strong class="d-block">@grant.ClientName</strong>
                                                <span class="fs-smaller">
                                                    <label class="fw-bold">Description:</label> @grant.Description
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-end pe-3">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </a>

                                <!-- Popup Info Modal -->
                                <div class="modal" id="@modalId" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0 py-2 px-3">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">@grant.ClientName</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body pt-0">
                                                <ul class="list-group list-group-flush">
                                                    @if (grant.Description != null)
                                                    {
                                                        <li class="list-group-item">
                                                            <span class="fw-medium">Description:</span> @grant.Description
                                                        </li>
                                                    }
                                                    <li class="list-group-item">
                                                        <span class="fw-medium">Created:</span> @grant.Created.ToString("yyyy-MM-dd")
                                                    </li>
                                                    @if (grant.Expires.HasValue)
                                                    {
                                                        <li class="list-group-item">
                                                            <span class="fw-medium">Expires:</span> @grant.Expires.Value.ToString("yyyy-MM-dd")
                                                        </li>
                                                    }
                                                    @if (grant.IdentityGrantNames.Any())
                                                    {
                                                        <li class="list-group-item">
                                                            <span class="fw-medium">Identity Grants</span>
                                                            <ul>
                                                                @foreach (var name in grant.IdentityGrantNames)
                                                                {
                                                                    <li>@name</li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    @if (grant.ApiGrantNames.Any())
                                                    {
                                                        <li class="list-group-item">
                                                            <span class="fw-medium">API Grants</span>
                                                            <ul>
                                                                @foreach (var name in grant.ApiGrantNames)
                                                                {
                                                                    <li>@name</li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="modal-footer border-top-0">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Revoke Access</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2 rounded-4 mt-4">
            <div class="card-body p-3">
                <h2 class="fw-medium fs-5 text-muted mb-1">
                    <i class="fa-solid fa-location-dot fa-fw"></i>
                    Where You're Signed-in
                </h2>
                <p class="text-body-secondary">
                    Keep an eye on where your account is being used.
                </p>

                <div class="card bg-white rounded-4">

                    <div class="card-body">

                        Coming Soon...

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>